<main class="min-h-screen w-full flex flex-col"
      [class.pl-55]="isAsideOpen && !fullPage"
      [class.pl-16]="!isAsideOpen && !fullPage">

  <!-- Header -->
  <header *ngIf="!fullPage" class="shrink-0 bg-white/95 backdrop-blur border-b border-zinc-200 shadow-sm">
    <app-header></app-header>
  </header>

  <!-- Aside fijo -->
  <aside *ngIf="!fullPage"
         class="fixed inset-y-0 left-0 z-40"
         [ngClass]="isAsideOpen ? 'w-55' : 'w-16'">
    <app-aside
      [isAsideOpen]="isAsideOpen"
      (toggleAside)="isAsideOpen = !isAsideOpen">
    </app-aside>
  </aside>

  <!-- Contenido -->
  <section class="flex-1" [ngClass]="fullPage ? 'p-0' : 'p-0'">
    <ng-container *ngIf="fullPage; else shell">
      <router-outlet></router-outlet>
    </ng-container>
    <ng-template #shell>
      <app-content></app-content>
    </ng-template>
  </section>

  <!-- Footer -->
  <footer *ngIf="!fullPage" class="shrink-0">
    <app-footer></app-footer>
  </footer>
</main>
