<div class="aside-root bg-[#1f3b99] text-white h-full flex flex-col shadow-[0_6px_24px_rgba(0,0,0,0.18)]">
  <!-- HEADER -->
  <div class="h-14 px-4 flex items-center gap-2 border-b border-white/15">
    @if (isAsideOpen) {
    <img src="logo.png" alt="Laboratorio" class="h-8" />
    <span class="font-bold tracking-wide">
      Lab<span class="text-emerald-400">PRO</span>
    </span>
    <!-- Izquierda: botón hamburguesa -->
    <div class="flex items-center gap-3">
      <button pButton type="button" (click)="onToggle()"
        class="grid place-items-center h-10 w-10 rounded-md hover:bg-white/10 transition" pTooltip="Menú"
        tooltipPosition="bottom">
        <i class="pi pi-bars text-[18px]"></i>
      </button>
    </div>

    } @else {
    <img src="logo_collapsed.png" alt="Laboratorio" class="h-8" />
    <!-- Izquierda: botón hamburguesa -->
    <div class="flex items-center gap-3">
      <button pButton type="button" (click)="onToggle()"
        class="hamburguer_btn grid place-items-center h-10 w-10 rounded-md hover:bg-white/10 transition" pTooltip="Menú"
        tooltipPosition="bottom">
        <i class="pi pi-bars text-[18px]"></i>
      </button>
    </div>
    }
  </div>

  <div class="flex-1 overflow-y-auto px-2 py-2">
    <p-panelMenu [model]="items" styleClass="sidebar-menu"></p-panelMenu>
  </div>
  <div class="h-10 px-4 flex items-center text-[11px] text-white/70 border-t border-white/10">
    v1.1.0
  </div>